$screen-width: 1024px;

@font-face {
  font-family: 'super';
  src: url('/Fonts/Handwriting.ttf') format('truetype');
}

* {
  margin: 0px;
}

html,
body,
#root {
  height: auto;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}
